<div class="menu">
    <ul>
        <li>
            <img src="/assets/search.png">
        </li>
        <li>
            <img src="/assets/home.png">
        </li>
        <li>
            <img src="/assets/pie-chart.png">
        </li>
        <li>
            <img src="/assets/mail.webp">
        </li>
        <li>
            <img src="/assets/gallery.png">
        </li>
        <li>
            <img src="/assets/callendra.png">
        </li>
        <li>
            <img src="/assets/contact.png">
        </li>
        <li>
            <img src="/assets/setting.png">
        </li>
    </ul>
</div>
