<div class="card">
    <ul>
    <li><div class="card1">
        <p><b>Today RMS</b></p>
        <img src="/assets/bag.png">
        <h1>300</h1>
    </div></li>
    <li><div class="card2">
        <p><b>Total Pending RMS</b></p>
        <h1>900</h1>
    </div></li>
    <li><div class="card3">
        <p><b>Exceeded 10 days</b></p>
        <img src="/assets/contact.png">
        <h1>200</h1>
    </div></li>
    <li><div class="card4">
        <p><b>Average Response Time</b></p>
        <h1>5 days</h1>
    </div></li>
    </ul>

</div>
<div class="graph">
    <div class="grapha">
      
      
       <app-chart></app-chart>

    </div>
    <div class="graphb">
       
       <app-pichart></app-pichart>
    </div>
</div>
